* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  background-color: #7d6b7d;
  margin: 5px auto;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

nav > ul > li {
  display: inline-block;
  margin: 10px auto;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.banner {
  width: 100%;
  height: 60vh;
  background-color: #ff665a;
  opacity: 0.9;
  color: #fff;
}

.banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 8em;
  text-transform: uppercase;
  letter-spacing: 15px;
}
main {
  width: 100%;
  height: 80vh;
  background-color: #a3a1a8;
  /* opacity: 0.5; */
}

section {
  width: 60%;
  color: black;
  text-align: center;
  margin: 0 auto;
}

h3 {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  background-color: #ff8c64;
  border-radius: 50px;
  margin-top: 10px;
}
p {
  line-height: 1.5;
  padding: 20px;
}
.highlight {
  /* font-family: MonoLisa;
  width: fit-content;
  padding: 10px;
  margin: 10px auto;
  font-weight: lighter;
  font-style: italic; */
  background-color: black;
  width: fit-content;
  color: #fff;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}
/* .highlight {
  font-family: '"SF Mono', SFMono-Regular, Consolas, "Liberation Mono";
  overflow: auto;
} */
.highlight .nt {
  color: #f9690e;
}
.highlight .na {
  color: #7ed07e;
}
.highlight .s {
  color: #f2ca27;
}
.highlight .nl {
  color: #fff;
}
